@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham Book";
  src: url("../puplic/GothamBook.ttf");
}

* {
  font-family: "Gotham Book", sans-serif;
}

@layer components{
    .link {
        @apply hover:cursor-pointer font-semibold 
    }
}
